@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p>@Model.Mode</p>
    <button id="venmo-button" data-client-token="@Model.ClientToken">Venmo Button</button>
</div>
